name: check if run test is here
on:
  push:
    branches:
      - main
      - "release/**"
    paths:
      - "src/**"
  
  pull_request:
    branches:
      - main
      - "release/**"

jobs:
  test:
    strategy: 
      matrix: 
        os: [ubuntu-latest, windows-latest, macos-latest] 
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1
              

      - name: Run tests
        run: npm test